

<div class="page-header">
	<h1><%= link_to @link.title, @link.url %><br> <small>Submitted by <%= @link.user.name %></small></h1>
</div>
<div class="btn-group">
	<%= link_to 'Visit URL', @link.url, class: "btn btn-primary" %>
</div>
<div class="btn-group pull-right">
	<%= link_to like_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
	<span class="glyphicon glyphicon-chevron-up"></span>
	Upvote
	<%= @link.get_upvotes.size %>
	<% end %>

	<%= link_to dislike_link_path(@link), method: :put, class: "btn btn-default btn-sm" do %>
	<span class="glyphicon glyphicon-chevron-down">
		Downvote
		<%= @link.get_downvotes.size %>
		<% end %>
	</div>
	<% if @link.user == current_user -%>
	  <div class="btn-group">
		<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %>
		<%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	  </div>
	 <% end %>


	<h3 class="comments_title">
		<%= @link.comments.count %> Comments
	</h3>
	<div id="comments">
		<%= render @link.comments %>
	</div>
	<%= simple_form_for [@link, Comment.new] do |f| %>
	<div class="field">
		<%= f.text_area :body, class: "form-control" %>
	</div>
	<br>
	<%= f.submit "Add Comment", class: "btn btn-primary" %>	  
	<% end %>
	
